* {
    box-sizing: border-box;
}

body {
    height: 95vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 50px;
}

.choices-container > div {
    display: flex;
}

.text-container {
    justify-content: space-evenly;
}

.img-container {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    gap: 10px;
    margin: 10px 0;
}

.choice-img {
    height: 150px;
    width: 250px;
}

.choice-img:hover {
    border: 2px solid black;
    box-shadow: 10px 10px 100px grey;
}


.reset-button {
    padding: 10px 20px;
    color: white;
    background-color: #24a0ed;
    font-weight: bold;
    border: 0px;
    border-radius: 7px;
}
